# Package Files #
*.jar
*.war
*.ear
*.zip

# Maven target directory
target/

# Intellij IDEA
.idea/
*.iml

# Temporary files
*.tmp
*~

# OS Specific files
.DS_Store
Thumbs.db

# Java specific files
*.java~
*.class
*.log

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Other
### STS ###
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache
.env