<form [formGroup]="form" (ngSubmit)="onSubmit()" class="signup-form">
  <label>
    Username:
    <input formControlName="username" required>
  </label>
  <label>
    Email:
    <input formControlName="email" type="email" required>
  </label>
  <label>
    Password:
    <input formControlName="password" name="password" type="password" required>
  </label>
  <button type="submit" [disabled]="form.invalid">Sign Up</button>
  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
</form>

<div *ngIf="isLoading" class="spinner">
  Идёт регистрация...
</div>
